# =========================
# Vue
# =========================
node_modules/
dist/
.nuxt/
.vite/

# =========================
# Python/FastAPI
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/
env/

# 日志
*.log

# 环境变量
.env
.env.*

# 测试缓存
.pytest_cache/

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Git
# =========================
*.swp